@use '../../scss/variables/breakPoints';

@media screen and (max-width: breakPoints.$large-screen) {
   #hero {
      grid-template-columns: 1fr 1fr;
      grid-gap: 5em;
   }
}

@media screen and (max-width: breakPoints.$medium-screen) {
   #hero {
      grid-template-columns: 1fr;
      gap: 3em;
   }
}
