#hero {
   display: grid;
   grid-template-columns: auto 55%;
   grid-gap: 10%;
   .heroImage {
      img {
         display: block;
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }
}
