@use '../../scss/variables/colors';

.sliderCard {
   border: 3px solid colors.$primary-color;
   border-radius: 13px;
   text-align: center;
   padding-inline: 30px;
   flex: 1;
   img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
   }
}
