@use '../../scss/variables/colors';

#imgText {
   overflow-x: hidden;
   .container {
      display: grid;
      grid-template-columns: 1fr 54%;
      gap: 6.9em;
      color: colors.$secondary-color;
      .image {
         margin-right: calc(100% - 56vw);
         background-position: center;
         background-size: cover;
      }
   }
}
