#footer {
   .footer-div {
      display: grid;
      grid-template-columns: 300px 1fr;
      .footer-links .links {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         row-gap: 2em;
         a {
            font-weight: 400;
         }
      }
      .footer-copyright {
         grid-column: 1 / -1;
         text-align: center;
         margin-top: 6em;
      }
   }
}

@media screen and (max-width: 1150px) {
   #footer {
      .footer-div {
         grid-template-columns: 1fr;
         text-align: center;
         .footer-heading {
            margin-bottom: 3em;
         }
         .footer-links .links {
            grid-template-columns: repeat(3, 1fr);
         }
      }
   }
}

@media screen and (max-width: 950px) {
   #footer {
      .footer-div {
         .footer-links .links {
            grid-template-columns: repeat(2, 1fr);
         }
         .footer-copyright {
            margin-top: 4em;
         }
      }
   }
}

@media screen and (max-width: 375px) {
   #footer {
      .footer-div {
         .footer-links .links {
            grid-template-columns: 1fr;
         }
      }
   }
}
