@use './variables/colors';
@use './variables/sizes';

.btn {
   border: 3px solid colors.$bg-tertiary;
   font-weight: 600;
   border-radius: 8px;
   padding: 13px 55px;
   font-size: sizes.$button-font-size;
   -webkit-text-stroke: 1px;
   cursor: pointer;
   transition: all 0.25s ease-in-out;
   &-primary {
      @extend .btn;
      background-color: transparent;
      color: colors.$primary-color;
      &:hover {
         background-color: colors.$bg-tertiary;
         color: colors.$secondary-color;
      }
   }
   &-secondary {
      @extend .btn;
      background-color: colors.$bg-tertiary;
      color: colors.$secondary-color;
      &:hover {
         background-color: transparent;
         color: colors.$primary-color;
      }
   }
}
