@use './variables/colors';
@use './variables/fonts';
@use './variables/sizes';
@use './variables/breakPoints';

* {
   font-family: fonts.$regular-text-font;
   color: colors.$primary-color;
}
.title {
   font-family: fonts.$heading-font;
   font-weight: bold;
   -webkit-text-stroke: 1px;
   &-big {
      @extend .title;
      font-size: 4.9rem;
      -webkit-text-stroke: 2px;
   }
   &-medium {
      @extend .title;
      font-size: 3.5rem;
   }
   &-small {
      @extend .title;
      font-size: 2rem;
      line-height: 2rem;
   }
   &-footer {
      @extend .title;
      font-size: 4rem;
   }
}
p {
   font-family: fonts.$regular-text-font;
   font-size: sizes.$regular-text-font-size;
   font-weight: 200;
   line-height: 1.3rem;
   -webkit-text-stroke: 0.6px;
   &.regular-text-title {
      font-size: sizes.$regular-text-title-font-size;
      font-weight: 900;
      line-height: calc(sizes.$regular-text-title-font-size * 1.2);
   }
}

a {
   font-family: fonts.$regular-text-font;
   font-size: sizes.$link-font-size;
   font-weight: 100;
   cursor: pointer;
   &.active,
   &:hover {
      color: colors.$primary-color;
      font-weight: 900;
   }
}

.dark-text {
   color: colors.$primary-color;
}
.light-text {
   color: colors.$secondary-color;
}
.lighter-text {
   color: colors.$tertiary-color;
}

.justified {
   text-align: justify;
}

@media screen and (max-width: breakPoints.$large-screen) {
   .title {
      &-big {
         font-size: 4rem;
      }
   }
}
@media screen and (max-width: breakPoints.$small-screen) {
   .title {
      &-big {
         font-size: 3.3rem;
      }
      &-medium {
         font-size: 2.7rem;
      }
      &-small {
         font-size: 1.8rem;
      }
      &-footer {
         font-size: 2.5rem;
      }
   }
}
