@use './variables/breakPoints';

.container {
   max-width: 1180px;
   margin: auto;
}

.image-filter {
   filter: grayscale(10%) contrast(0.85) brightness(0.9);
}

$padding-values: (2em, 3em, 4em, 5em, 6em, 7em);

@each $value in $padding-values {
   $index: index($padding-values, $value);
   .py-#{$index} {
      padding-block: $value;
   }
}

$margin-values: (15px, 20px, 25px, 30px, 35px, 50px, 100px);
@each $value in $margin-values {
   $index: index($margin-values, $value);
   .mb-#{$index} {
      margin-bottom: $value;
   }
}

@media screen and (max-width: breakPoints.$large-screen) {
   .container {
      max-width: 95vw;
   }
}

@media screen and (max-width: breakPoints.$medium-screen) {
   $padding-values: (1em, 2em, 3em, 4em, 5em, 6em);

   @each $value in $padding-values {
      $index: index($padding-values, $value);
      .py-#{$index} {
         padding-block: $value;
      }
   }

   $margin-values: (15px, 16px, 20px, 25px, 30px, 40px, 60px);
   @each $value in $margin-values {
      $index: index($margin-values, $value);
      .mb-#{$index} {
         margin-bottom: $value;
      }
   }
}
